<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
    <h1>Это наш новый сайт</h1>
    <p>{{ hello }}</p>

    <h2>{{ info }}</h2>
</body>
</html>
