<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
<h1>Аккаунт пользователя</h1>
<p>User: {{ user.getId }} - {{ user.getLogin }}</p>
<p><a href="/">Main page</a></p>

<p><a href="/auth/logout">Logout</a></p>
</body>
</html>
